<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
        <mat-toolbar>
            <span><strong>Menu</strong></span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>{{item.label }}</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <span class="spacer"></span>
        <div mat-card-avatar class="header-image m-1"></div>
        <span>Max Cleaner</span>
        <button mat-icon-button><mat-icon>logout</mat-icon></button>
    </mat-toolbar>

    <div class="container p-5">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
<footer>
    <mat-card>
        <mat-card-footer>
            <img mat-card-image src="assets/MaxCleaner1.png" alt="">
        </mat-card-footer>
    </mat-card>
</footer>
